/* Bootstrap link */
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);

/* custom dark theme colors to override BS variables */
:root {
    
         --bs-body-bg: #0e100f;
         --bs-body-color: #fffce1;
         --bs-emphasis-color: #5c822e ;
         --bs-secondary-color: #BDBDBD ;

} 

/* GENERAL STYLES */
body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif; 
    font-size: 90%;   
    width: 90vw;
    max-width: 100%;
    margin: auto;
    height: 100vh;
    padding-top: 10%;
}

body[type=text] {
    color: var(--bs-body-bg);
}

header {
    display: flex;    
    flex-flow: column wrap;
    justify-content: center;
    max-width: 90%;
    text-align: center;
    margin: auto;
}

main {
    background-color: var(--bs-body-bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 90%;
    text-align: center;
}

h2 {
    padding-bottom: 5%;
}

p {
    font-size: 100%;
    padding-top: 10%;    
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* SECTION ELEMENTS */
 .carousel-caption {
    background-color: #0e100f;
    color: #fffce1;
    opacity: 0.75;
    border-radius: 10px 10px 0 0;
}

.control {
    background-color: #0e100f;
    color: #fffce1;
    border-radius: 20px;
}

#end-button {
    width: 50%;
    max-width: 80%;
    height: 3rem;
    position: relative;
    background-color: var(--bs-body-bg);
    margin: auto;
    margin: auto;
    border: solid 2px white;
    color: #fffce1;
}

#end-button:hover {
    background-color: var(--bs-emphasis-color);
    border: solid 2px var(--bs-secondary-color);
} 

.button-container {
    padding-top: 15%;
}