/* Bootstrap link */
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);

/* General styles */

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    width: 90%;
    font-family: 'EB Garamond', serif; 
    font-size: 18px;   
}

header {
    width: 90%;
    display: flex;    
    flex-flow: column wrap;
    justify-content: space-between;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#quote {
    padding: 1rem;
}

p {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
    border: none;
}


/* Credit for lines 81-96: https://stackoverflow.com/questions/54616139/how-to-animate-underline-from-left-to-right */
.link-underline {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(white 0 0);
    background-position: 0 100%; 
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s; /*change after the size immediately*/
  }
  
  .link-underline:hover {
    background-position: 100% 100%; 
    background-size: 100% 2px;
  }


/* #spinner {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* z-index: 999; */
    /* background-color: black;
    align-items: center;
    display: none;
} */
    

/* HEADER */
#landing-name {
    letter-spacing: 4px;
}

nav {
    width: 100%;
    padding: 1rem 5rem;
}  

#hero-text {
    width: 90%;
    padding: 0 2rem;
}

#hero-text-a {
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-transform: lowercase;
    letter-spacing: 5px; 
}

#hero-image img {
    max-width: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 4rem 4rem 1rem;
    order: 5;
}

#slogan {
    position: relative;
    font-size: 1.3rem;
    text-align: center;
    font-stretch: expanded;
    animation: 3s alternate slidein;      
}

#hero-blocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: center;
}

.hero-block {
    border: solid 1px gold;
    border-radius: 5px;
    display: flex;
    background-color: #fffce1;
    color: #0e100f;
    max-height: 10rem;
    max-width: 10rem;
    flex-wrap: wrap;
    padding: 0 5px;
    margin: 0 5px;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    padding: 0.25em;
    flex-grow: 1;
}

.info-blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border: solid 2px gold;
    transition: 
        transform 1s, opacity 1s;
    background-color: #fffce1;
    color: #0e100f; 
    text-align: center;
    padding: 1rem 1rem;
}

.section-hidden {
    opacity: 0;
    transform: 
        translateY(5rem);
  }

#stats-button {
    width: 20rem;
    height: 3rem;
    position: relative;

}

#stats-popover {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    padding: inherit;
    margin: 1rem;
}  

#stats {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 3rem;
}

th, td {
    border: 1px solid #fffce1;
    padding: 8px;
    text-align: center;
    font-size: 2rem;
}

table p {
    font-size: 2rem;
}

.block-title {
    display: flex;
    flex-direction: row;
    top: 0;
    font-size: 1.5em;
    
    font-weight: 400;
    vertical-align: auto;
    justify-content: center;
}

.block-title-name {
    margin: 0;
    font-weight: 800;
}

#block-content {
    font-size: 0.2em;
}


#instructions-button {
    text-decoration: none;
    color: white;
    background-color: black;
}

/* MAIN PAGE */
form {
    width: 90vw;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 99;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    margin: 0.5rem 0.5rem 3px 0.5rem ;
    padding: 0.5rem;
    width: 100%;
    border: solid 2px grey;
    border-radius: 10px;
}

fieldset label {
    padding: 5px;
}

.main-input {
    padding: 0.5rem 0.5rem;
}

.task::placeholder {
    color: yellow;
    opacity: 0.5;;
}

fieldset > .task {
    width: 88%;
}

.subset-field-a {
    margin-top: 0.1rem;
    margin-bottom: 8rem;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    border: none;
    font-size: 1.23em;
}

/*  checkbox styles credit to https://moderncss.dev/pure-css-custom-checkbox-style/ */

.form-control {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    --form-control-color: purple;
}

input [type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}


.form-control + .form-control {
    margin-top: 1em;
  }

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(purple);

    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


.characters span {
    font-size: 1em;
}

#new-day {
    max-width: 80px;
    align-self: center;
}

#today-section > p, #next-growth > p {
    font-weight: 600;
}

.image-titles {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-evenly;
}

#plant-image-area, #plant-image  {
    position: relative;
    min-height: 8rem;
    min-width: 16rem;
    max-height: 16rem;
    max-width: 16rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3rem 0.5rem;
}

#plant-image img { 
    min-height: 5rem;
    min-width: 5rem;
    max-height: 15rem;
    max-width: 15rem;
    position: relative;
}

#plant-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    position: relative;
    margin-top: 0.5rem;
    padding: 1rem;
    border: solid 2px yellowgreen;
}

.gallery {
    position: relative;
    border: solid 2px #fffce1;
    border-radius: 5px;
    min-height: 1rem;
    min-width: 1rem;
    max-width: 5rem;
    max-height: 10rem;
    padding: 0.5em;
    background-size: contain;
    background-position: center;
    object-fit: contain;
}

.dropzone {
    border: solid 3px gold ;
}

.dragover {
    background-color: yellowgreen;
    border: solid 3px orange;
    height: 8rem;
    width: 6rem;
}

.dragging {
    opacity: 0.5;
    position: relative;
    max-width: 4rem;
    max-height: 8rem;
    object-fit: contain;
    /* z-index: 999; */
}

/* Settings area */
#settings-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
    border: solid 2px gold;
    width: 90vw;
    padding: 1%;
}

/* RESET SECTION */
#reset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

#reset-popover {
    text-align: center;
}

#reset-confirmed {
    border: none;
}

#settings-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lets-play-button {
    position: absolute;
    bottom: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    padding-top: 5px;
    font-size: 15px;
    z-index: 0;
}

