* {
    background-color: #e4dfda;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    width: 90%;
}

h1 {
    font-size: 3rem;
    width: 100%;
    justify-self: flex-start;
}

#slogan {
    font-stretch: expanded;
    position: relative;
    text-align: center;
    animation: 3s alternate slidein;      
}

#instructions {
    width: 66%;
    justify-content: center;
    border: 2px dotted black;
    margin-top: 50px;
}

form {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 16em;
}

form > input {
    padding: 10px;
}

#new-day {
    max-width: 80px;
    align-self: center;
}

form > checkbox {
    position: inline;
    /* SORT THIS */
}

form > label, form #today-section {
    position: relative;
    align-self: center;
}


img {

   display: flex; 
   max-height: 100px;
   max-width: 100px;

   background-size: cover;
   background-position: center;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 15px;
}