* {
    background-color: #e4dfda;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    width: 90%;
}

h1 {
    font-size: 3rem;
    width: 100%;
    justify-self: flex-start;
}

#slogan {
    font-stretch: expanded;
    position: relative;
    text-align: center;
}

#instructions::after {
    width: 66%;
    justify-content: center;
    border: 2px dotted black;
    margin-top: 50px;
}

form {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form > input {
    padding: 10px;
}

form > checkbox {
    position: inline;
}

form > label, form #today-section {
    position: relative;
    align-self: center;
}

#plant-image {
   max-height: 100px;
   max-width: 100px;
   position: relative; 
   background-size: cover;
   background-position: center;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 15px;
}